.modal-header-success {
  color:#edc2c2;
  padding:9px 15px;
 /*  border-bottom:1px solid #eee; */
  background-color: #00d9000c;
  -webkit-border-top-left-radius: 50%;
  -webkit-border-top-right-radius: 50%;
  -moz-border-radius-topleft: 50%;
  -moz-border-radius-topright: 50%;
   border-top-left-radius: 50%;
   border-top-right-radius: 50%;
   background-color: transparent;
   height: 100px !important;

   width: 100px !important;
   /* border-radius: 50%; */
}

.modal-body{
  background-color: transparent !important;
  
}
.modal{
  background-color: transparent !important;
  
}