.doctorImg {
    width: 200px;
    height: 250px;
    object-fit: cover;
  /*   border-radius: 50%; */
    box-shadow: #5f5d6b 1px 1px 10px;
   /*  border: #72a075 solid 4px; */
}


.doctorCard{
background-color: rgb(255, 255, 255);
/* border:1px solid gray; */
border-radius: 0.5rem;
margin-bottom: 10px;
}

.main {
/*   width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px; */
  
/*   display: grid;
  grid-template-columns: repeat(12, 1fr); */
  /* height: 500px; */
}

.doctorContainer {
  /*   width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    height: 500px; */
  
  }